<div class="container">
  <div class="row">
    <div class="col">
      <h3>AP</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">First and last name</span>
        </div>
        <button class="btn btn-outline-secondary" type="button">ON</button>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">First and last name</span>
        </div>
        <button class="btn btn-outline-secondary" type="button">ON</button>
      </div>
    </div>
  </div>
</div>
<script src="/static/jquery.min.js"></script>
<script src="/static/popper.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script>
</script>